html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#main-canvas {
    width: 100%;
    height: 100%;
}

#settings-pane {
    position: absolute;
    top: 8px;
    left: 8px;
}

#fps-pane {
    position: absolute;
    top: 8px;
    right: 8px;
}